.menu-btn {
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;


  &__burger {
    position: absolute;
    right: 4px;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: set-text-color($primary-color);
    @include transition-ease;
    
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }
    &::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 18px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;
    }

    &.open {
      transform: rotate(360deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px,8px);
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px,-7px);
      }
    }
  }

}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: top 0.3s;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    list-style-type: none;
    transform: translateY(-100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }


    &__item {
      transform: translateY(100vw);
      @include transition-ease;
      
      &.open {
        transform: translateY(0);
      }

      &.active > a {
        color: $secondary-color;
      }
    }
    

    &__link {
      display: inline-block;
      font-size: 1.8rem;
      padding: 0.6rem 4em; 
      font-weight: 400;
      @include transition-ease;
    


      &:hover {
        color: $secondary-color;
        border-bottom: 1px solid  $secondary-color;
      }
    }
  }
}

