body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #aabbfb;
}

main {
  position: relative;

  .title {
    position: absolute;
    font-weight: 800;
    left: 4.6em;
    top: -2em;
    font-size: 2rem;
    color: $secondary-color;
  }

  .projects-wrapper {
    width: 75%;
    height: 100%;
    border: 1px solid red;
  }

  
}





