@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      margin-top: 1em;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: center;

      &__item {
        display: inline;
        padding-right: 4em;
        
      }

      &__link {
        font-size: 1.5rem;
        padding: 0.6rem 0; 

      }
    }
  }

  .about__bio {
    font-size: 1.5rem;

    &-title {
      @include transition-ease;
    }
  }

  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }


  .skills {
    &__title {
      margin-top: 2.2em;
      @include transition-ease;

    }

    &__stacks {
      margin: 1em 12em;
    }
    
  }

  #projects-title {
    width: 75%;
    margin-top: 5.2em;
    font-size: 1.8rem;
    @include transition-ease;


    p {
      font-size: 1rem;
    }
  }


  #projects  {
    width: 75%;
    margin: 0 auto;
    
    }




  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }

  
}

@include media-lg {
  .menu-nav {
    margin: 2em;

    &__item {
      padding-right: 8em;
    }

    &__link {
      padding: 0.6rem 0; 
    }
  }

  .skills {
    &__title {
      margin-top: 2.2em;
      @include transition-ease;

    }

    &__stacks {
      padding-left: 7em;
      margin: 1em 15em;
    }

    &__wrapper {
      .progressbars {
        width: 80%;
      }
    }  
  }

  #projects-title {
    font-size: 1.8rem;
    @include transition-ease;
    width: 65%;
    margin-top: 3em;

    p {
      font-size: 1rem;
    }
  }

  #projects { 
    width: 65%;
    margin: 0 auto;
    margin-top: 3.4em;
  }
  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }

}

@include media-xl {
  .menu-nav {
    margin: 2em;

    &__item {
      padding-right: 10em;
    }

    &__link {
      padding: 0.6rem 0; 
    }
  }

  .about__bio-image {
    .about__bio {
      width: 50%;
    }
    .about__bio-education  {
      width: 60%;
    }
  }


  .skills {
    &__title {
      margin-top: 2.2em;
      @include transition-ease;

    }

    &__stacks {
      padding-left: 14em;
      margin: 1em 22em;
    }

    &__wrapper {
      .progressbars {
        width: 75%;
      }
    }  
  }

  #projects-title {
    width: 50%;
    margin-top: 3.6em;
    margin-bottom: 2em;
    @include transition-ease;

    p {
      font-size: 1rem;
      margin-top: 1em;
    }
  }
  #projects { 
    width: 50%;
    margin: 0 auto;
  }
  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }
  


  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;

      .contact__list-email-header {
        width: 65px;
        height: 65px;

        .fas.fa-envelope,
        .fas.fa-mobile-alt {
          font-size: 1.6rem;
        }
      }
    }
  }

}