@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      margin-top: 1em;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: center;

      &__item {
        display: inline;
        padding-right: 4em;
        
      }

      &__link {
        font-size: 1.5rem;
        padding: 0.6rem 0; 
      }
    }
  }


  .about__bio {
    position: relative;
    width: 78%;
    text-align: center;
    
    &-title {
      position: absolute;
      top: 20%;
      left: -50%;
      font-size: 3rem;
      color: $secondary-color;
      font-weight: 800;
      animation: left-to-right 1.5s ease-in-out forwards;

    }

    &-full-name {
      margin-top: 5.5em;
    }
  }
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }


  .skills {
    position: relative;
    background-color: $primary-color;
    text-align: center;
    width: 100%;
    height: 100vh;
    
    &__title { 
      top: -6%;
    }

    &__greeting {
      padding-top: 1em;
    }

    &__stacks {
      margin: 1em 12em;
    }
    
  }

    
    

  .projects-title-wrapper {
    margin-top: 8em;

    #projects-title  {
      top: -6%;
      left: -50%;
      
    }
    .projects-title-text {
      width: 90%;
      font-size: 1rem;
    }
  }


  #projects  {
    width: 75%;
    margin: 0 auto;
    margin-top: 5em;
    }

  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }

  
footer {
  display: block;
}

}

@include media-lg {
  .menu-nav {
    margin: 2em;

    &__item {
      padding-right: 8em;
    }

    &__link {
      padding: 0.6rem 0; 
    }
  }

  .about__bio {
    position: relative;
    width: 78%;
    text-align: center;
    
    &-title {
      position: absolute;
      top: 20%;
      left: -50%;
      font-size: 3rem;
      color: $secondary-color;
      font-weight: 800;
      animation: left-to-right 1.5s ease-in-out forwards;

    }

    &-full-name {
      margin-top: 5.5em;
    }
  }

  .skills {
    &__title { 
      top: -10%;
      left: -50%;
      animation: left-to-right 1.5s ease-in-out forwards;
    }

    &__greeting {
      margin-top: 10em;
    }

    &__stacks {
      padding-left: 7em;
      margin: 1em 15em;
    }

    &__wrapper {
      .progressbars {
        width: 80%;
      }
    }  
  }

  .projects-title-wrapper {
    margin-top: 8em;

    #projects-title  {
      top: -6%;
      left: -50%;
    }

    p {
      width: 90%;
      margin: 1em auto 2em auto;
      font-size: 1rem;
    }
  }  

  #projects { 
    width: 65%;
    margin: 0 auto;
    margin-top: 2em;
  }
  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }
  footer {
    display: block;
  }

}

@include media-xl {
  .menu-nav {
    margin: 2em;

    &__item {
      padding-right: 10em;
    }

    &__link {
      padding: 0.6rem 0; 
    }
  }


  .about__bio {
    position: relative;
    width: 78%;
    text-align: center;
    
    &-title {
      position: absolute;
      top: 20%;
      left: -50%;
      font-size: 3rem;
      color: $secondary-color;
      font-weight: 800;
      animation: left-to-right 1.5s ease-in-out forwards;

    }

    &-full-name {
      margin-top: 5.5em;
    }
  }

  .about__bio-image {
    .about__bio {
      width: 50%;
    }
    .about__bio-education  {
      width: 60%;
    }
  }


  .skills {

    &__stacks {
      padding-left: 14em;
      margin: 1em 22em;
    }

    &__wrapper {
      .progressbars {
        width: 75%;
      }
    }  
  }

  .projects-title-wrapper {
    margin-top: 8em;

    #projects-title  {
      top: -6%;
      left: -50%;
      
  
    }
    p {
      width: 90%;
      margin: 1em auto 2em auto;
      font-size: 1rem;
    }
  }  
  #projects { 
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
  }
  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;
    }
  }
  


  #contact-list {
    flex-direction: row;

    .contact__list-email-wrapper {
      margin: 0 1em;

      .contact__list-email-header {
        width: 65px;
        height: 65px;

        .fas.fa-envelope,
        .fas.fa-mobile-alt {
          font-size: 1.6rem;
        }
      }
    }
  }

}